body * {
  /*font-family: Roboto Condensed, sans-serif;*/
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding-left: 20px;
  letter-spacing: 4px;
}

li, a {
  text-decoration: none;
  color: #E2B761;
}

.App-header-icon {
  width: 40px;
  height: 40px;
  padding: 11px;
}

.Abacus-Result {
  font-size: 28px;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.Abacus-grid {
  justify-content: center;
}

/* FIXES FOR MATERIAL DESIGN LITE */
.mdl-layout__header {
  background-color: #222;
  height: 90px;
  padding: 10px;
  color: #F4F4F2;
}

.mdl-layout__drawer-button {
  margin: 18px 12px;
}

.mdl-layout-title {
  font-family: Roboto Condensed, sans-serif !important;
  letter-spacing: 4px;
}

.mdl-button {
  font-family: Roboto Condensed, sans-serif !important;
  letter-spacing: 1px;
}

.mdl-button--accent {
  background-color: #8E3B3B !important;
}

.mdl-card {
  width: 380px;
}

.mdl-card__supporting-text, p {
  font-size: 16px;
}

.mdl-card__title {
  background: #E2B761;
  height: 90px;
}

.mdl-card__title-text {
  color: #222;
  font-family: Roboto Condensed, sans-serif !important;
  letter-spacing: 1px;
}

.mdl-data-table {
  font-size: 16px;
  width: 100%;
}

/* DARK CERULEAN */
.color-primary {
  color: #224D7F;
}

/* DEEP GREEN-CYAN TURQUOISE */
.color-primary-2 {
  color: #1C6D65;
}

/* EARTH YELLOW */
.color-accent-1 {
  color: #E2B761;
}

/* VIVID AUBURN */
.color-accent-2 {
  color: #892323;
}

/* QUICK SILVER */
.color-accent-grey-1 {
  color: #A3A19C;
}

/* WHITE SMOKE */
.color-accent-white-1 {
  color: #F4F4F2;
}

.Stepper-bar {
  display: block;
  border-color: rgb(189, 189, 189);
  margin-left: -6px;
  border-top-style: solid;
  border-top-width: 1px;
}