body * {
  font-family: Quicksand, sans-serif;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 10px;
  color: white;
  letter-spacing: 10px;
  text-align: left;
}

.App-header-icon {
  width: 40px;
  height: 40px;
}

.mdl-layout__header {
  background-color: #222;
  height: 90px;
  padding: 10px;
  color: white;
  letter-spacing: 10px;
  text-align: left;
}

.mdl-layout__drawer-button {
  margin: 18px 12px;
}

.mdl-layout-title {
  font-family: Quicksand, sans-serif !important;
}

.center {
  text-align: center;
}