body * {
  font-family: Quicksand, sans-serif;
}

.App-header-icon {
  width: 40px;
  height: 40px;
}

.mdl-layout__header {
  background-color: #222;
  height: 90px;
  padding: 10px;
  color: white;
  letter-spacing: 10px;
  text-align: left;
}

.mdl-layout__drawer-button {
  margin: 18px 12px;
}

.mdl-layout-title {
  font-family: Quicksand, sans-serif !important;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding-left: 20px;
  letter-spacing: 6px;
}

li a {
  text-decoration: none;
  color: #E2B761;
}